:root {
  --white: #cacaca;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(38, 1, 43);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  padding: 10vh 0;
}
h1,
h5,
p {
  text-align: center;
}

h1 {
  margin: 0;
}
h5 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.text-container {
  margin: 0 20px;
}

p {
  font-size: 14px;
  line-height: 20px;

  margin: auto;
}
p#text {
  border: solid 1px;
  padding: 25px 15px;
  border-radius: 10px;
  max-width: 600px;
}
span {
  color: #fcce00;
}

.game-container {
  text-align: center;
  width: 85vw;
  height: 70vh;
  margin: 30px auto;
  background: url(img/bg.svg) center center no-repeat;
  background-size: contain;
  position: relative;
}

/* svg {
  fill: var(--white);
  stroke: var(--white);
  stroke-width: 4px;
  stroke-linecap: round;
} */

svg {
  height: 100%;
}

svg .petal {
}

/* .wrong-and-letters-conteiner {
  margin: 40px auto;
  width: 80vw;
  max-width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.wrong {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.215);
  padding: 20px;
  border-radius: 5px;
}
.wrong p {
  font-size: 18px;
  margin-bottom: 10px;
}
.letters {
  margin-top: 15px;
}
.letters span {
  font-size: 20px;
  border-bottom: solid 2px;
  margin: 0 2px;
  padding: 0 10px;
}

.final-popup-container,
.notification-container {
  display: none;
}
