:root {
  --white: #cacaca;
  --yellow: #fcce00;
  --violet: rgb(38, 1, 43);
}

* {
  box-sizing: border-box;
}

@keyframes drop {
  0% {
    transform-origin: center;
    opacity: 1;
  }
  20% {
    transform: translate3d(0, 20px, 0) rotate3d(0, 0, 1, -10deg);
    opacity: 1;
  }
  40%,
  45% {
    transform: translate3d(0, -20px, 0) rotate3d(0, 0, 1, 20deg);
    opacity: 0.9;
  }
  70% {
    transform: translate3d(0, 200px, 0) rotate3d(0, 10, 1, 40deg);
    opacity: 0.8;
  }
  to {
    transform: translate3d(0, 400px, 0) rotate3d(0, 4, 0, 80deg);
    opacity: 0;
  }
}

body {
  background-color: var(--violet);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 6vh;
  padding-bottom: 12vh;
  margin: 0;
  position: relative;
}
h1,
h5,
p {
  text-align: center;
}

h1 {
  margin: 0;
}
h5 {
  margin-top: 10px;
  margin-bottom: 30px;
}

.text-container {
  margin: 0 20px;
}

p {
  font-size: 14px;
  line-height: 20px;

  margin: auto;
}
p#text {
  border: solid 1px;
  padding: 15px;
  border-radius: 10px;
  max-width: 600px;
}
span {
  color: var(--yellow);
}

.game-container {
  text-align: center;
  width: 85vw;
  max-width: 600px;
  height: 55vh;
  margin: 12px auto;
  background: url(img/bg.svg) center center no-repeat;
  background-size: contain;
  position: relative;
}

svg {
  height: 93%;
}

svg .petal.drop {
  animation: drop 1.2s forwards;
}

.wrong {
  position: absolute;
  top: 30px;
  right: 0;
}
.wrong-info-container {
  background-color: rgba(255, 255, 255, 0.215);
  padding: 14px;
  border-radius: 5px;
}
.wrong p {
  font-size: 13px;
  margin-bottom: 10px;
}
.wrong span {
  text-transform: uppercase;
  font-size: 13px;
}
.letters {
  margin-top: 15px;
}
.letters span {
  font-size: 20px;
  border-bottom: solid 2px;
  margin: 0 8px;
  padding: 0 10px;
}

.final-popup-container {
  backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: var(--violet);
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}
.final-popup-container .popup {
  background-color: var(--yellow);
  padding: 20px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 10px 20px black;
}
button {
  background-color: var(--white);
  border: solid 1px var(--violet);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}
button:hover {
  background-color: var(--violet);
  color: white;
}

button:active {
  transform: scale(0.95); /*tip*/
}

button:focus {
  outline: 0;
}

.notification-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: -40px;
  text-align: center;
  background-color: var(--yellow);
  color: var(--violet);
  padding: 10px;
  border-radius: 10px 10px 0 0;
  display: inline-block;
  transition: transform 1s ease-in-out; /*tip*/
}

.notification-container.show {
  transform: translate(-50%, -40px);
  transition: transform 1s ease-in-out; /*tip*/
}
