@import "variables";
@import "mixins";

body {
  margin: 30px;
}

h1 {
  color: rgb(94, 51, 204);
}

section {
  margin-top: 40px;

  article {
    margin: 20px 0;
    background-color: rgb(233, 224, 249);
    border-radius: 6px;

    //-----------------
    //----each loop----
    @each $article in $articles {
      $i: index($articles, $article);

      //variables to use in "if function" to make it shorter
      // $if-bg-color: map-get($article, bg);
      // $is-light: lightness($if-bg-color) > 50%;

      &#article-#{$i} {
        background-color: map-get($article, bg);
        padding: map-get($article, pad);

        h2 {
          font-size: map-get($article, hsize);
        }

        p,
        h2 {
          //long version:
          // color: if(lightness(map-get($article, bg)) > 50%, $dark, $light);

          //short version:
          // color: if($is-light, $dark, $light);

          @include contrast(map-get($article, bg));
        }
      }
    }

    //-----------------
    //----for loop----
    // @for $i from 1 through length($colors) {
    //   &#article-#{$i} {
    //     background-color: nth($colors, $i);
    //     padding: nth($padding, $i);

    //     h2 {
    //       font-size: nth($heading-size, $i);
    //     }

    //     p,
    //     h2 {
    //       @include contrast(nth($colors, $i));
    //     }
    //   }
    // }

    //-----------------
    //----while loop----
    // $i: 0;
    // @while $i < length($colors) {
    //   $i: $i + 1;

    //   &#article-#{$i} {
    //     background-color: nth($colors, $i);
    //     padding: nth($padding, $i);

    //     h2 {
    //       font-size: nth($heading-size, $i);
    //     }

    //     p,
    //     h2 {
    //       @include contrast(nth($colors, $i));
    //     }
    //   }
    // }
  }
}
