@import "variables";
@import "mixins";

body {
  margin: 30px;
}

h1 {
  color: rgb(94, 51, 204);
}

section {
  margin-top: 40px;

  article {
    margin: 20px 0;
    background-color: rgb(233, 224, 249);
    border-radius: 6px;

    //loop
    @each $article in $articles {
      $i: index($articles, $article);

      &#article-#{$i} {
        background-color: map-get($article, bg);
        padding: map-get($article, pad);

        h2 {
          font-size: map-get($article, hsize);
        }

        p,
        h2 {
          @include contrast(map-get($article, bg));
        }
      }
    }
  }
}
