@import "variables";

//use "if" in this mixin and apply the mixin in the loop code in "-base.scss"
@mixin contrast($bg-color) {
  @if $bg-color == $red {
    color: yellow;
  } @else if lightness($bg-color) > 50% {
    color: $dark;
  } @else {
    color: $light;
  }
}

//or use the "if function" in "-base.scss" as it hast been showed there in comments
