//colors
$purple: rgb(110, 19, 175);
$blue: rgb(111, 120, 250);
$green: rgb(117, 194, 135);
$red: rgb(104, 42, 61);

$light: rgb(237, 216, 255);
$dark: rgb(41, 40, 40);

//articles for "each" loop
$articles: (
  (
    bg: $purple,
    pad: 10px,
    hsize: 2em,
  ),
  (
    bg: $blue,
    pad: 5px,
    hsize: 1.5em,
  ),
  (
    bg: $red,
    pad: 40px,
    hsize: 1em,
  ),
  (
    bg: $green,
    pad: 60px,
    hsize: 3em,
  )
);

//lists for "for" loop
$colors: $blue $green $red $purple;
$padding: 10px 5px 40px 60px;
$heading-size: 2em 1.5em 1em 3em;
