* {
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
}

input {
  font-size: 16px;
  border: solid 1px white;
  padding: 0 12px;
  height: 50px;
  border-radius: 5px;
}

input:focus,
input:active {
  outline: 0;
  border: solid 4px #e0c2ff;
  box-shadow: none;
}

button {
  border: solid 2px white;
  border-radius: 7px;
  background-color: rgb(77, 0, 60);
  color: rgb(236, 236, 236);
  font-size: 16px;
  cursor: pointer;
  height: 43px;
  width: 75px;
  transition: 0.3s;
}

button:hover {
  background-color: #e0c2ff;
  color: black;
  transition: 0.3s;
}

button:active {
  transform: scale(0.94);
}

h2,
h3 {
  margin-bottom: 40px;
  color: rgb(77, 0, 60);
}

/*-------------------------------------------*/
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
  background: url(img/bg.svg) no-repeat center center;
  background-size: cover;
  box-shadow: 0 -6px 13px 2px;
}
@media only screen and (max-width: 600px) {
  header {
    height: 30vh;
    justify-content: end;
  }
}

header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.09);
}

header * {
  z-index: 1;
}

header form {
  position: relative;
  width: 500px;
  /* max-width: 100%; */
  height: 50px;
}
@media only screen and (max-width: 600px) {
  header form {
    width: 100%;
    top: 23px;
  }
}

header form button {
  position: absolute;
  right: 3px;
  top: 3px;
}

header form input {
  position: absolute;
  left: 0;
  width: 100%;
  box-shadow: 0 0 27px -10px;
}
@media only screen and (max-width: 600px) {
  header form input {
    border-radius: 0;
  }
}

/*-------------------------------------------*/
.main {
  padding: 50px 0;
  width: 500px;
  max-width: 80%;
  font-size: 14px;
}

.main button {
  height: 35px;
  font-size: 13px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0;
}

ul li span {
  padding-right: 20px;
  text-align: left;
  max-width: 52vw;
}
@media only screen and (max-width: 600px) {
  ul li span {
    font-size: 12px;
  }
}

#pagination {
  margin-top: 35px;
}
