* {
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.836),
      rgba(75, 12, 49, 0.363)
    ),
    url(img/bg.jpg) no-repeat center center / cover;
  color: white;
  text-shadow: 0 6px 7px black;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 6vw;
  margin: -40px auto 15px auto;
  word-spacing: -3px;
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 8vw;
    margin-top: 0;
  }
}

h2 {
  margin-bottom: 5px;
}

a {
  color: white;
  margin-bottom: 40px;
}

/*----------------------------------------------*/
.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.9);
  margin-bottom: 60px;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 12px;
}
@media only screen and (max-width: 500px) {
  .countdown {
    transform: scale(1);
  }
  .countdown {
    margin-bottom: 20px;
  }
}

.year {
  font-size: 15vh;
  color: rgba(255, 255, 255, 0.219);
}
