* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  /* background-color: #bfa2db; */
  background-image: linear-gradient(#bfa2db, #270127c4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 700px;
  margin: 0 auto 40px auto;
  color: #383838;
}

input:focus {
  outline: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
  text-shadow: 0 2px 10px rgba(0, 0, 0, 0.692);
}

/*----------------------------------------*/
.search-container {
  width: 100%;
}

#search-input {
  width: 100%;
  border: 0;
  padding: 10px;
  border-radius: 4px;
}
/*----------------------------------------*/
.post {
  background-color: #f0d9ff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 7px 10px 1px rgba(0, 0, 0, 0.445);
  margin: 30px auto;
  position: relative;
}

.post-number {
  position: absolute;
  height: 35px;
  width: 35px;
  left: -15px;
  top: -15px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin: 0;
  color: #a24df1;
}

.post-text {
  font-size: 13px;
  margin-top: 15px;
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 45px;
  transition: opacity 0.4s ease-in;
}
.loader.show {
  opacity: 1;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 3px;
  animation: bounce 0.6s ease-in-out infinite;
}

.circle:nth-of-type(2) {
  animation-delay: 0.1s;
}
.circle:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-7px);
  }
}
